* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 62.5%; // 1rem = 10px
    line-height: 1.7;
    background-color: #FBFBFB;
    border: 0.5rem solid #494C4E;
    color: #494C4E;
    margin: 1.5rem;

    @include respond-to(phone) {
        font-size: 40%;
    }

    @include respond-to(tab-port) {
        font-size: 45%;
    }

    @include respond-to(tab-land) {
        font-size: 50%;
    }

    @include respond-to(big-desktop) {
        font-size: 62.5%;
    }
    
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.container {
    max-width: 1440px;
}
 
::selection {
    background: $main-color;
}

